@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
  --color-default:#0970b5;
  --color-second:#024877;
  --color-white:#fff;
  --color-body:#cdcece;
  --color-light:#e0e0e0;
  --color-black:#000000;
}


*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
}

.sidebar{
  min-height: 100vh;
  width: 78px;
  padding: 6px 14px;
  z-index: 99;
  background-color: var(--color-default);
  transition: all .5s ease;
  position: fixed;
  top:0;
  left: 0;
}

.sidebar.open{
  width: 250px;
}

.sidebar .logo_details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo_details .icon{
  opacity: 0;
  transition: all 0.5s ease ;
}

.sidebar .logo_details .logo_name{
  color:var(--color-white);
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all .5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
  opacity: 1;
}

.sidebar .logo_details #btn{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
}

.sidebar.open .logo_details #btn{
  text-align: right;
}

.sidebar i{
  color:var(--color-white);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin:8px 0;
  list-style: none;
}

.sidebar li .tooltip{
  position: absolute;
  top:-20px;
  left:calc(100% + 15px);
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top:50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar input{
  font-size: 15px;
  color: var(--color-white);
  font-weight: 400;
  outline: none;
  height: 35px;
  width: 35px;
  border:none;
  border-radius: 5px;
  background-color: var(--color-second);
  transition: all .5s ease;
}

.sidebar input::placeholder{
  color:var(--color-light)
}

.sidebar.open input{
  width: 100%;
  padding: 0 20px 0 50px;
}

.sidebar .bx-search{
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  font-size: 22px;
  background-color: var(--color-second);
  color: var(--color-white);
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all .5s ease;
  z-index: 12;
}

.sidebar li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after{
  transform: scaleX(1);
  color:var(--color-default)
}

.sidebar li a .link_name{
  color:var(--color-white);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color:var(--color-default)
}

.sidebar.open li a .link_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i{
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
}

.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom:-8px;
  padding:10px 14px;
  overflow: hidden;
  transition: all .5s ease;
}

.sidebar.open li.profile{
  width: 250px;
}

.sidebar .profile .profile_details{
  display: flex;
  align-items: center;
  flex-wrap:  nowrap;
}

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .designation{
  font-size: 15px;
  font-weight: 400;
  color:var(--color-white);
  white-space: nowrap;
}

.sidebar li.profile .designation{
  font-size: 12px;
}

.sidebar .profile #log_out{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-second);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

.home-section, .users-section{
  position: relative;
  background: linear-gradient(219deg, #ffffff, var(--color-default));
  background-size: 400% 400%;
  min-height: 100vh;
  top:0;
  left:78px;
  width: calc(100% - 78px);
  transition: all .5s ease;
  z-index: 2;

  -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}
@keyframes AnimationName {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}

.home-section .text{
  display: inline-block;
  color:var(--color-default);
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.slider-wrapper{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 6;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem #21212126;
    border-radius: .5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider .content{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
}

.slider-nav a{
    width: .9rem;
    height: .9rem;
    border-radius: 5%;
    background-color: #0067ac;
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

.user-options{
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #000000;
  border-bottom-left-radius: 20px;
  padding: 10px 0;
}

.user-options .option-user{
  display: flex;
  flex-direction: column;
}

.user-options div{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.user-options p{
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
}

.bx{
  font-size: 30px;
}

.users-section{
  position: relative;
  background-color: var(--color-body);
  min-height: 100vh;
  display: inline-flex;
  top:0;
  left:78px;
  width: calc(100% - 78px);
  transition: all .5s ease;
  z-index: 2;
}

.container-usuarios{
  padding: 18px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container-usuarios h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 55px;
  color: var(--color-white);
  text-shadow: black 0.1em 0.1em 0.2em
}

.container-usuarios h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-right: 10px;
}

.container-datos{
  width: 25%;
  min-height: 100vh;
}

.container-details{
  width: 25%;
  height: 100vh;
}

#sidebar2{
  width: 100%;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 4px solid var(--color-default);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 90vh;
  margin: 5vh 0 5vh 0;
}

#sidebar2 h2 {
  color: var(--color-black);
  font-family: 'Poppins', sans-serif;
  text-shadow: rgb(19, 42, 145) 0.1em 0.1em 0.2em;
}

#sidebar2 h3{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  text-decoration: underline;
  text-align: left;
  font-style: italic;
  font-size: 17px;
}

#sidebar2 input{
  font-family: 'Poppins', sans-serif;
  margin-left: 15px;
  margin-bottom: 15px;
  font-style: italic;
  text-align: left;
  font-size: 14px;
  background-color: #2b91d473;
  padding: 5px;
  border-radius: 10px;
}

#ListaJuegos li{
  margin-left: 30px;
  font-style: italic;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}


/* Estilos SideBar */
#sidebar {
  width: 100%;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border-top-left-radius: 20px;
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 90vh;
}

#sidebar p{
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  font-size: 14px;
}

.hide{
  display: none;
}

/* Estilos Formulario */
.login-box {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #000000;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 8px 0;
  font-size: 14px;
  color: #000000;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 8px 0;
  font-size: 12px;
  color: #000000;
  pointer-events: none;
  transition: .5s;
}

.login-box label {
  top:0;
  left: 0;
  padding: 8px 0;
  font-size: 12px;
  color: #000000;
  pointer-events: none;
  transition: .5s;
}

.login-box select:focus ~ label{
  color: var(--color-default);
  font-size: 10px;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -15px;
  left: 0;
  color: var(--color-default);
  font-size: 10px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--color-default);
  background-color: #FFFFFF;
  border: none;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

#EnviarDatos{
  width: 35%;
  border-radius: 10px;
  height: auto;
  border: none;
  background-color: #000000;
  color: #FFFFFF;
}

#EnviarDatos:hover {
  background: var(--color-default);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--color-default),
              0 0 25px var(--color-default),
              0 0 50px var(--color-default),
              0 0 100px var(--color-default);
}

/*Estilos Tablas*/
table {
  border-collapse: collapse;
  margin: 20px 0;
  overflow: hidden;
  width: 95%;
}

table thead th{
  background-color: var(--color-default);
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

table th,td {
  padding: 10px 10px;
}

table tbody tr {
  border-bottom: 1px solid var(--color-black);
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

table tbody tr:hover {
  font-weight: bold;
  color: #ffffff;
  background-color: var(--color-second);
}

table tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-black);
}

table input {
  font-family: 'Poppins', sans-serif;
  color: var(--color-second);
  background-color: var(--color-light);
  font-size: 14px;
  padding: 10px 0;
}

/*ESTILOS CARDS JUEGOS*/
#ListGames {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 200px;
  height: 240px;    
  margin: 20px;

}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: .5s;
  border-radius: 10px;
}

.card .front {
  background: #288ca0;
  transform: perspective(500px) rotateY(0deg);
  border-radius: 10px;
}

.card .back {
  display: flex;
  flex-direction: column;
  background: var(--color-light);
  border: 4px solid var(--color-default);
  transform: perspective(500px) rotateY(180deg);
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.card .back h3 {
  margin-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  line-height: 28px;
}

.card .back p {
  font-family: 'Poppins', sans-serif;
  color: var(--color-second);
  font-size: 12px;
}

.card:hover .front {
 
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .back {
 
  transform: perspective(500px) rotateY(360deg);
}

.card div h1 {
  font-size: 100px;
  color: #f1f1f1;
}

/*ESTILOS BOTONES*/

.button-49,
.button-49:after {
  width: 100px;
  height: 30px;
  font-size: 12px;
  background: linear-gradient(45deg, transparent 5%, var(--color-light) 5%);
  border: 0;
  color: #000000;
  box-shadow: 6px 0px 0px var(--color-default);
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Poppins', sans-serif;
  margin: 0 5px;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, var(--color-default) 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover{
  background: linear-gradient(45deg, transparent 5%, var(--color-default) 5%);
  color: #fff;
  font-weight: bold;
}

.button-49:hover:after {
  animation: .5s glitch;
  animation-timing-function: steps(2, end);
}

.button-49:active{
  transform: scale(0.9);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.button-50,
.button-50:after {
  width: 200px;
  height: 30px;
  font-size: 12px;
  background: linear-gradient(45deg, transparent 5%, var(--color-second) 5%);
  border: 0;
  color: #ffffff;
  box-shadow: 6px 0px 0px var(--color-default);
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Poppins', sans-serif;
  margin: 0 5px;
}

.button-50:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, var(--color-default) 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-50:hover{
  background: linear-gradient(45deg, transparent 5%, var(--color-default) 5%);
  color: #fff;
  font-weight: bold;
}

.button-50:hover:after {
  animation: .5s glitch;
  animation-timing-function: steps(2, end);
}

.button-50:active{
  transform: scale(0.9);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/*ESTILOS VENTA DE JUEGOS*/
.selectores {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.selectores h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 55px;
  color: var(--color-white);
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-bottom: 40px;
}

.selectores h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 25px;
  color: var(--color-black);
  text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em
}

.selectores select {
  margin: 5px 30px 30px 30px;
}

.selectores button {
  margin-top: 20px;
}

.factura {
  width: 60%;
  padding: 20px 120px;
  background-color: var(--color-white);
  border-left: 4px solid black;
}

.factura h1 {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 55px;
  color: var(--color-default);
  text-shadow: var(--color-white) 0.1em 0.1em 0.2em
}

.factura h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: var(--color-black);
}

.factura p {
  padding: 0 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

hr{
  height: 4px;
  border: 2px solid black;
  background-color: black;
  border-radius: 8px;
  margin: 10px 0;
}

.Info{
  background-color: #0970b555;
  border-radius: 10px;
  padding: 10px;
}